snippet vn "Verbose name"
verbose_name = '${1:name}'
endsnippet

snippet vnp "Verbose name plural"
verbose_name_plural = '${1:name}'
endsnippet

snippet rq "rq"
request
endsnippet

snippet rg "rg"
request.GET['${1:}']
endsnippet

snippet rgc "rgc"
request.GET
endsnippet

snippet rp "rp"
request.POST['${1:}']
endsnippet

snippet rpc "rpc"
request.POST
endsnippet

snippet ru "ru"
request.user
endsnippet

