snippet plan "Natural planning template" !b
	Goals and principles
		${1:some goal or principle}
	Outcome / vision
		${2:outcome}
	Brainstorm
		${3:idea}
        Organized plan
		${4:plan}
	NEXT
		${5:idea}
endsnippet
