snippet i "Python import statement" b
import ${1}
${2}
endsnippet

snippet fi "Python from ... import statement" b
from ${1} import ${2}
${3}
endsnippet

snippet t "Todo"
# TODO: ${1:desc} `!v strftime("%c")` (`echo $USER`)
endsnippet
