snippet i "Python import statement" b
import ${1}
endsnippet

snippet fi "Python from ... import statement" b
from ${1} import ${2}
endsnippet

snippet t "Todo"
# TODO: ${1:desc} `!v strftime("%c")` (`echo $USER`)
endsnippet

snippet #c "coding: utf-8 comment" b
# -*- coding: utf-8 -*-
endsnippet
