[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
        ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
        ignore = untracked
[submodule "bundle/vim_fugitive"]
	path = bundle/vim_fugitive
	url = https://github.com/tpope/vim-fugitive.git
        ignore = untracked
[submodule "bundle/vim_repeat"]
	path = bundle/vim_repeat
	url = https://github.com/tpope/vim-repeat.git
        ignore = untracked
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
        ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
        ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
        ignore = untracked
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
        ignore = untracked
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = git://github.com/gregsexton/gitv.git
        ignore = untracked
[submodule "bundle/emmet"]
	path = bundle/emmet
        url = https://github.com/mattn/emmet-vim.git
        ignore = untracked
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/blueyed/vim-autoclose.git
        ignore = untracked
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
        ignore = untracked
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
        ignore = untracked
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:pielgrzym/vim-colors-solarized.git
        ignore = untracked
[submodule "bundle/searchfold"]
	path = bundle/searchfold
	url = https://github.com/vim-scripts/searchfold.vim.git
        ignore = untracked
[submodule "bundle/python_mode"]
	path = bundle/python_mode
	url = https://github.com/klen/python-mode.git
        ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
        ignore = untracked
[submodule "bundle/rubycomplete"]
	path = bundle/rubycomplete
	url = https://github.com/vim-scripts/rubycomplete.vim.git
        ignore = untracked
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
        ignore = untracked
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
        ignore = untracked
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
        ignore = untracked
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
        ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
        ignore = untracked
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
        ignore = untracked
[submodule "bundle/gitolite"]
	path = bundle/gitolite
	url = https://github.com/tmatilai/gitolite.vim.git
        ignore = untracked
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = https://github.com/kien/tabman.vim.git
        ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
        ignore = untracked
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
        ignore = untracked
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
        ignore = untracked
[submodule "bundle/ctrlp_sessions"]
	path = bundle/ctrlp_sessions
	url = https://github.com/pielgrzym/ctrlp-sessions.git
        ignore = untracked
[submodule "bundle/todotxt"]
	path = bundle/todotxt
	url = https://github.com/boushley/todo.txt-vim.git
        ignore = untracked
[submodule "bundle/ctrlp_ft"]
	path = bundle/ctrlp_ft
	url = https://github.com/endel/ctrlp-filetype.vim.git
        ignore = untracked
[submodule "bundle/nginx_syntax"]
	path = bundle/nginx_syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
        ignore = untracked
[submodule "bundle/puppet-syntax"]
	path = bundle/puppet-syntax
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
        ignore = untracked
[submodule "bundle/bro"]
	path = bundle/bro
	url = git://github.com/mephux/bro.vim.git
        ignore = untracked
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline
        ignore = untracked
[submodule "bundle/git-grep-vim"]
	path = bundle/git-grep-vim
	url = https://github.com/tjennings/git-grep-vim.git
        ignore = untracked
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
        ignore = untracked
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
        ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
        ignore = untracked
[submodule "bundle/viki_vim"]
	path = bundle/viki_vim
	url = https://github.com/tomtom/viki_vim.git
        ignore = untracked
[submodule "bundle/trag_vim"]
	path = bundle/trag_vim
	url = https://github.com/tomtom/trag_vim.git
        ignore = untracked
[submodule "bundle/viki_tasks"]
	path = bundle/viki_tasks
	url = https://github.com/tomtom/vikitasks_vim.git
        ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
        ignore = untracked
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
        ignore = untracked
[submodule "bundle/tvo"]
	path = bundle/tvo
	url = https://github.com/vim-scripts/TVO--The-Vim-Outliner.git
        ignore = untracked
[submodule "bundle/voom"]
	path = bundle/voom
	url = https://github.com/vim-scripts/VOoM.git
        ignore = untracked
[submodule "bundle/ag-vim"]
	path = bundle/ag-vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
